.yes1 {
  position: relative;
}
.component-11 {
  position: absolute;
  top: 300px;
  left: 22px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
}
.do-you-love1,
.please-reply-back1 {
  position: absolute;
  top: 161px;
  left: 62px;
  color: var(--color-black);
}
.please-reply-back1 {
  top: 457px;
  left: 42px;
}
.no-container {
  position: absolute;
  top: 39px;
  left: 52px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-39xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iphone-8-plus-11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 736px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray);
  font-family: var(--font-jua);
}
