.no-you-not3 {
  position: absolute;
  top: 230px;
  left: 10px;
}
.yes7 {
  position: relative;
}
.component-17,
.no10 {
  position: absolute;
  left: 127px;
}
.component-17 {
  top: 385px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
}
.no10 {
  top: 192px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 80px;
  height: 88px;
}
.iphone-8-plus-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 736px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-jua);
}
