.no-you-not4 {
  position: absolute;
  top: 230px;
  left: 10px;
}
.yes8 {
  position: relative;
}
.component-18 {
  position: absolute;
  top: 385px;
  left: 127px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-31xl);
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
}
.iphone-8-plus-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 736px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-jua);
}
